#buttons
{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#buttons div
{
    margin-top: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    cursor: pointer;
}